
@{
    ViewBag.Title = "Index";
}

<h2>New Year Party Invitation</h2>
<hr />

<p>Hi, all</p>
<p>I am Hosting a new Year part , come if you want</p>
<hr />

<a href="/Registration/Register">Register</a>
<hr />
<a href="/Registration/List">View All Registered Guests</a>
<hr />